@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column-c{
 flex-direction: column;
 @include flex-center();
}

@mixin flex-row-c{
    flex-direction: row;
    @include flex-center();
}

@mixin flex-row{
    display: flex;
    
}
